 html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: #F8F8FF;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    margin: 0;
    background-color: rgba(255, 250, 250, 0.9); /* lehce průhledné */
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 20px;
    left: 10px;
    right: 10px;
    z-index: 10;
}


.navbar li {
    display: flex;
    align-items: center;
    justify-content: center; /* horizontálně střed text */
    padding: 0 20px;         /* mezera kolem textu */
}

.navbar li a {
    color: black; /* barva odkazu v liště */
}

.navbar li a:hover {
    color: #a59797; /* barva při najetí myší */
}


.navbar li:not(:last-child)::after {
    content: "|";
    color: black;
    margin-left: 20px;
}


#home {
    height: 100vh;
    padding-top: 100px;    
    background-image: 
        linear-gradient(rgba(154, 197, 58, 0.2), rgba(154, 197, 58, 0.5)), /* zelená folie 50% */
        url('photo/prague.jpg'); /* obrázek */
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.o_nas {
    min-height: auto;
    padding: 100px 40px;
    background-color: #d6d6d6;
}

.o_nas-container {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.o_nas h2 {
    color: #72992f;
    font-size: 40px;
    margin-bottom: 40px;
}

.o_nas-text1 {
    flex: 1;
    gap: 50px;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    flex-wrap: wrap; 
}

.o_nas-text2 {
    flex: 1;
    gap: 50px;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    flex-wrap: wrap;
}

.odpad {
    min-height: auto;
    padding: 100px 40px;
    background-color: #efefef;
}

.kontakty {
    min-height: auto;
    padding: 100px 40px;
    background-color: #72992f;
}

.kontakty h2 {
    color: #d6d6d6;
    font-size: 40px;
    margin-bottom: 40px;
}

.kontakt-container {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.kontakt-info p {
    margin: 10px 0;
    font-size: 22px;
    color: #d6d6d6;
}

.kontakt-info strong {
    color: black;
}